
	h1 {
		color: orange;
		font-size: 45px;
    font-family:'Nerko One', cursive;
	}
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 80px;
		height: 52px;
    background-color:powderblue;
		margin: auto;
    color:orange;
		border: 6px solid orange;
		border-radius: 1px;
		font-size: 30px;
		text-align: center;
	}
	#button {
		box-sizing: border-box;
		width: 110px;
		height: 45px;
		border: 1px solid orange;
		margin: auto;
		border-radius: 15px;
		font-family:cursive;
		background-color: powderblue;
		color: black;
		font-size: 25px;
		cursor: pointer;
	}
#button:hover{
  background-color:white;
}


#print {
		font-family:sans-serif;

		color: orange;
		font-size: 20px;
}
#container {
    border: 50px solid orange;
		text-align: center;
}
#ins {
		font-family:Times;
font-size: 15px;
}

